.navbar-lewagon {
    padding: 50px;
    background-color: #efd2ef;
}
  
.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}
  
.navbar-brand {
    position: relative;
    left: 45%;
}
.navbar-lewagon .navbar-brand img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
